<h1>Listing students</h1>

<table>
  <tr>
    <th>First name</th>
    <th>Last name</th>
    <th>Year entered</th>
    <th>Ms year</th>
    <th>Phd year</th>
    <th>Ms semester</th>
    <th>Phd semester</th>
    <th>Panther</th>
    <th>Alt research 1</th>
    <th>Alt research 2</th>
    <th>Year left</th>
    <th>Semester left</th>
    <th>Citi online</th>
    <th>Citi discussion</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @students.each do |student| %>
  <tr>
    <td><%= student.first_name %></td>
    <td><%= student.last_name %></td>
    <td><%= student.year_entered %></td>
    <td><%= student.ms_year %></td>
    <td><%= student.phd_year %></td>
    <td><%= student.ms_semester %></td>
    <td><%= student.phd_semester %></td>
    <td><%= student.panther_id %></td>
    <td><%= student.alt_research_1 %></td>
    <td><%= student.alt_research_2 %></td>
    <td><%= student.year_left %></td>
    <td><%= student.semester_left %></td>
    <td><%= student.citi_online %></td>
    <td><%= student.citi_discussion %></td>
    <td><%= link_to 'Show', student %></td>
    <td><%= link_to 'Edit', edit_student_path(student) %></td>
    <td><%= link_to 'Destroy', student, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Student', new_student_path %>
