<p id="notice"><%= notice %></p>

<p>
  <b>First name:</b>
  <%= @student.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @student.last_name %>
</p>

<p>
  <b>Year entered:</b>
  <%= @student.year_entered %>
</p>

<p>
  <b>Ms year:</b>
  <%= @student.ms_year %>
</p>

<p>
  <b>Phd year:</b>
  <%= @student.phd_year %>
</p>

<p>
  <b>Ms semester:</b>
  <%= @student.ms_semester %>
</p>

<p>
  <b>Phd semester:</b>
  <%= @student.phd_semester %>
</p>

<p>
  <b>Panther:</b>
  <%= @student.panther_id %>
</p>

<p>
  <b>Alt research 1:</b>
  <%= @student.alt_research_1 %>
</p>

<p>
  <b>Alt research 2:</b>
  <%= @student.alt_research_2 %>
</p>

<p>
  <b>Year left:</b>
  <%= @student.year_left %>
</p>

<p>
  <b>Semester left:</b>
  <%= @student.semester_left %>
</p>

<p>
  <b>Citi online:</b>
  <%= @student.citi_online %>
</p>

<p>
  <b>Citi discussion:</b>
  <%= @student.citi_discussion %>
</p>


<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
